# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.conda/

# Data
output/parquet/
*.parquet

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.env
.env.local
.env.*.local